[2016-11-24 08:22] prochnowc opened #1 "Consider renaming package to something more generic"
Thanks for this good piece of code.

Please consider renaming the package to something more generic as this package is not dependent on AspNetCore.

Choc13.Extensions.Configuration.Consul would be more suitable i would say, what do you think?

[2016-11-24 08:46] Choc13 commented on #1
Hi @prochnowc,

Thanks for your interest in the project.

If you look in the [project.json](https://github.com/Choc13/AspNetCore.Configuration.Consul/blob/master/src/AspNetCore.Configuration.Consul/project.json) then you will see the following 3 dependencies:

[code]

These are all coming from the [AspNet Core Configuration project](https://github.com/aspnet/Configuration). So this is where the de

[2016-11-24 08:58] prochnowc commented on #1
@Choc13 I'm not really with you.

We're also building console applications using .NET core and Microsoft.Extensions libraries .. these console apps do not have any dependencies on Microsoft.AspNetCore libraries. Besised that, whilst Microsoft.Extensions.* library are contained in AspNetCore repository they have no dependency on AspNetCore. In fact if they were tied to AspNetCore, MS would have nam

[2016-11-24 13:03] Choc13 commented on #1
Ah I see. the fact that those extensions were under the AspNet organisation in GitHub gave me the impression they only worked on AspNet. But yes there would be nothing inherent about it that would prevent it from working with a console application.

I will rename the package to something that is more aligned with how other third parties have named theirs.

[2016-12-11 10:58] Choc13 opened #4 "Add support for XML config"
Currently we only support JSON config. Would be good to support XML. Need to implement `Winton.Extensions.Configuration.Consul.Parsers.IConfiguration` by adding an XML folder under `Parsers` and adding `Winton.Extensions.Configuration.Consul.Parsers.Xml.XmlConfigurationParser`.

[2016-12-11 10:59] Choc13 opened #5 "Add support for YAML config"
Currently we only support JSON config. Would be good to support YAML. Need to implement `Winton.Extensions.Configuration.Consul.Parsers.IConfiguration` by adding an Yaml folder under `Parsers` and adding `Winton.Extensions.Configuration.Consul.Parsers.Yaml.YamlConfigurationParser`.

[2016-12-11 15:53] ah- opened #7 "Support expand_keys"
git2consul supports a mode where it expands a json document in git into multiple key/value pairs in consul: https://github.com/Cimpress-MCP/git2consul/blob/master/README.md#expand_keys

Support reading config that's formatted like that.

[2016-12-11 16:02] ah- commented on #1
Thanks for the good suggestion! Renamed it.

[2016-12-11 16:02] #1 closed

[2017-03-01 15:42] jhickson opened #13 "File headers say "LICENSE.md" but actual file is "LICENCE""

[2017-03-04 23:48] #13 closed

[2017-05-15 18:30] SudharsanN opened #16 "Consul Reload Polling Interval"
When we set the ReloadOnChange property of ConsulConfigurationSource to true, what is the time interval after which the package poll Consul for changes? Is there way to specify the time interval for polling? I couldn't locate a property in ConsulConfigruationSource to set the interval.  Basically, we don't want to keep polling Consul for changes. Rather, we would like to poll it for every set inte

[2017-05-15 23:05] Choc13 commented on #16
Hi @SudharsanN,

We are making use of [Consul's support](https://www.consul.io/api/index.html#blocking-queries) for [long polling](https://www.pubnub.com/blog/2014-12-01-http-long-polling/). Rather than the client polling Consul periodically to check for updates there is instead a long-lived HTTP connection open with Consul. If the value of the key value pair is updated then Consul will respond wi

[2017-05-15 23:08] SudharsanN commented on #16
This clarifies my question. Will use the WaitTime property as you
suggested. Thank you, Matt.

On May 15, 2017 7:05 PM, "Matt Thornton" <notifications@github.com> wrote:

[2017-05-16 07:44] #16 closed

[2017-05-23 17:55] SudharsanN opened #17 "Configuration Reload Event??"
When Winton reloads the configuration from Consul, is there any event that we can listen to? I am asking so since we would like to invalidate our local cache once configuration gets reloaded. Currently, we are not sure of how to achieve this. Any suggestion to achieve the above?

[2017-05-23 18:51] Choc13 commented on #17
Hi @SudharsanN,

This library is nothing more than an additional configuration source for the .NET Core Configuration system. This means that you can use the following code to listen for configuration changes as you would for any configuration in .NET Core.

[code]

Note, you'll need to include the `Microsoft.Extensions.Primitives` namespace to make sure `ChangeToken` is available.

Also, make sur

[2017-05-23 19:09] SudharsanN commented on #17
Thanks for the clarification Matt.

[2017-05-23 21:48] #17 closed

[2017-08-03 14:10] Choc13 opened #18 "Update from project.json to csproj tooling"

[2017-10-07 00:06] #18 closed

[2017-11-05 21:55] Choc13 opened #20 "Improve NuGet package metadata"
Add the following properties to the csproj to improve metadata of published NuGet package:

* Authors
* Company
* PackageIconUrl
* PackageLicenseUrl
* PackageProjectUrl

[2017-11-06 18:16] #20 closed

[2017-12-14 21:26] govorovvs opened #22 "Add ConfigureAwait(false) to all task awaitings"
Microsoft recomends to use ConfigureAwait(false) when it possible

[2017-12-16 21:57] #22 closed

[2017-12-16 22:42] Choc13 opened #25 "Update expired NuGet API key"

[2017-12-16 23:24] #25 closed

[2018-02-18 21:13] Choc13 opened #31 "Fix intermittently hanging tests"
The test `Winton.Extensions.Configuration.Consul.ConsulConfigurationClientTests+Watch.ShouldCallReloadOnChangeTokenIfIndexForKeyHasUpdated` intermittently hangs and therefore seems to have a race condition in it.

[2018-03-13 07:48] Choc13 commented on #31
The test `Winton.Extensions.Configuration.Consul.ConsulConfigurationClientTests+Watch.ShouldUseLongPollingWithLatestIndexFromGet` also hangs intermittently.

[2018-04-07 06:49] #31 closed

[2018-04-14 14:13] #5 closed

[2018-04-14 14:13] #4 closed

[2018-04-14 14:13] #7 closed

[2018-05-21 12:05] TDabasinskas opened #36 "Support expanded configuration keys"
Hello,

Are there any plans on implementing "Add support for expanded configuration where the configuration is a tree of KV pairs under the root key", mentioned on in the backlog section?

[2018-05-21 13:04] Choc13 commented on #36
Hi @TDabasinskas,

We did have #7 open for that work, but we found we didn't actually need that behaviour in practice, so I closed the ticket as it had been sat idle for a long time. However, if this is going to be useful for you and you have an idea how it would be implemented, please feel free to submit a PR for it.

[2018-05-21 13:57] TDabasinskas commented on #36
Hi, @Choc13,

Yes, I saw #7, but since it was closed and had no additional comments, I raised a new one.

Having support for expanded keys, would allow using [bulkload functionality of Consul-CLI](https://github.com/mantl/consul-cli/wiki/KV#bulkload). In addition, it would allow to maintain the configs more easily, instead of having a one large key in Consul.

I'm afraid, though. I will not be abl

[2018-05-22 12:20] Choc13 commented on #36
Yeah, I agree with rationale behind adding the feature. I might see if I can put something together, but I can't promise if and when it will be ready. I'll try and do an initial investigation over the next week of so to see if I can get a better gauge on how much work is involved and then let you know from there.

[2018-05-29 15:24] basovic88 opened #37 "Support 'OnConfigChanged' in order to action something upon a config change"
Hi guys,

I have forked this project to add an enhancement. I've added an `OnConfigChanged` Action in the `ConsulConfigurationSource`. This action is called whenever the `ChangeToken` fires it's `OnChange` method.

What's the use case? Well, in my case I need to restart some computation services to work with the updated configuration values. I can now do this by hooking up some logic to `OnConfigC

[2018-05-29 19:44] Choc13 commented on #37
Hi @basovic88,

If I've understood your requirements correctly then you should be able to do this at the `[IConfiguration](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.iconfiguration?view=aspnetcore-2.0)` abstraction layer rather than at the config provider layer. This was designed into the configuration system by Microsoft. This library is just another configurat

[2018-05-30 05:55] basovic88 commented on #37
Hi Matt,

Thanks for you response and for the blog post. That certainly helps! The example is perfect.

Perhaps you could add it (or the link to the blog post) to the README.md?

Kind regards,
Bas

[2018-05-30 05:55] #37 closed

[2018-06-04 07:03] Choc13 commented on #36
Hi @TDabasinskas,

I've had a bit more of a look into this, and, unless I'm missing a trick this doesn't seem to be so straightforward. For starters, I think the only way to achieve this would be to use the `recurse` query option, which returns a list of all KV nodes in the hierarchy. This in itself is not a problem, but will require some refactoring around how the values are parsed into an approp

[2018-06-04 08:37] TDabasinskas commented on #36
Hi @Choc13,

Thanks for finding time to look into this.

The first example of the way config sections and KV would be handled does indeed seem to meet my requirements.

Regarding the arrays, I'm not sure I've understood the following example:

[code]

To my understanding, the array should be considered a value, so in Consul, I would define it as this:

- Directory: `MyApp`
- Key `Array`
- Value `{

[2018-06-05 06:41] Choc13 commented on #36
OK great. I think what I was proposing above would actually allow you to either encode arrays as a JSON formatted value or encode them as 0 indexed integer keys. It would be useful to know how the [bulkload functionality of Consul-CLI](https://github.com/mantl/consul-cli/wiki/KV#bulkload) (that you mentioned above) handles arrays. Do you know? I have never used that tool before and there doesn't a

[2018-06-05 08:30] TDabasinskas commented on #36
Let's assume `C:\Temp\dummy.json` contains the following:

[code]

We run the following `consul-cli` command:

[code]

It creates the following keys (a new key is created for each hash key OR array element):

- /MyApp/SomeHash/SomeHashKey
- /MyApp/SomeHash/SomeHashKey2
- /MyApp/SomeKey
- /MyApp/SomeArray/0
- /MyApp/SomeArray/1
- /MyApp/SomeArray/2

As for YAML, I've actually considered using it, b

[2018-06-06 06:44] Choc13 commented on #36
Ok. So it looks like it does encode JSON arrays using zero-indexes integer keys in Consul’s KV store.

I think I have enough information to start implementing this now. I think we can actually always recurse keys and then auto detect which parser to use for each value in that tree (e.g. text, JSON or YAML). The most obvious risk is that the auto detection is fiddly and doesn’t consist of mutually

[2018-06-19 21:38] Choc13 commented on #36
@TDabasinskas the above PR is the first and I think major step towards supporting this feature. Once that is merged the library will support specifying just a root key and then all KV pairs under that key will be loaded and merged into a single config dictionary. However, to keep things simple and to maintain backwards compatibility I have opted to enforce a restriction that all values be formatte

[2018-07-16 17:55] Choc13 opened #39 "Error when running 1.1.0 and 2.0.0 on net framework"
When using the library in an application that targets netframework the following error is raised:

[code]

This seems to be due to [conditional compilation](https://github.com/PlayFab/consuldotnet/blob/0.7.2.3/Consul/Client.cs#L623) in `ConsulClient` so that it takes a parameter of type `Action<WebRequestHandler>` rather than `Action<HttpClientHandler>` when targeting netframework.

This was not a

[2018-07-19 09:01] #39 closed

[2018-07-23 17:23] Choc13 commented on #36
Hi @TDabasinskas,

I got around to implementing `SimpleConfigurationParser` yesterday and it was merged today. Would you be able to try using the latest master build, it is on [NuGet](https://www.nuget.org/packages/Winton.Extensions.Configuration.Consul/2.1.0-master0003) to match it matches your requirements? You will just need to set the parser to `SimpleConfigurationParser` which can be done via

[2018-09-14 15:17] aligin opened #46 "How to add multiple configuration files?"
Hello, we are using your library in our product to configure microservices. We'are using appsettings.json per microservice, but I want to move general settings in a common file (with settings inheritence as is in the .net core). So the question is can I do this thing by

[code]

[2018-10-02 13:02] mindcrash opened #47 "Bug in JsonConfigurationParser regarding type conversion"
While parsing Json data we noticed that the PrimitiveVisitor does not respect the default value of JsonTextReader's CultureInfo (which, by the way, is CultureInfo.InvariantCulture by default).

This causes issues when trying to read invariant double values from json data and try to convert them to actual invariant double values within code (e.g. the value 0.1).

We traced this issue to [line 36 of

[2018-10-02 13:12] Choc13 commented on #47
Hi @mindcrash and thanks for reporting that.

I'll take a quick look now. As you say it doesn't sound like it should be too hard to write a failing test and then fix. Out of interest which version of the library are you using? Although, I'm pretty sure this will be present in all versions anyway.

[2018-10-02 16:15] Choc13 commented on #47
Versions 1.0.2 and 2.0.2 will be available via NuGet shortly and include the fix for this issue.

[2018-10-02 16:15] #47 closed

[2018-10-11 14:33] #36 closed

[2018-11-13 10:05] zorannik opened #59 "Configuration hierarchy reading"
Hi,

It seems there is an issue with reading configuration hierarchy in package version 2.1.1. Whenever there is an overlap in names of rootKey and actual key in configuration the hierarchy will be ommitted. For example:
* AppName: ServiceBus
* RootKey: ServiceBus/Development/appsettings.json (the one passed to builder                     .AddConsul("ServiceBusUtilApi/Development/settings/"),
* Co

[2018-11-13 12:58] Choc13 commented on #59
@zorannik thanks for reporting this. Yes, this is obviously a bug. By verifying this locally, I've already made the fix myself, so I shall submit a PR now and got this released as a patch ASAP.

[2018-11-13 13:06] zorannik commented on #59
Thanks

[2018-11-13 13:08] Choc13 commented on #59
Feel free to review the PR too. I couldn't add you as a formal reviewer because you're not in the wintoncode org, but let me know if you see any other issues with that fix, or would like me to add any more test cases.

[2018-11-13 15:45] zorannik commented on #59
Thanks for the quick fix, it looks fine :)
Personally I would prefer a separate method to handle key composition completely, but that is just me :)

[2018-11-13 15:45] #59 closed

[2018-11-13 15:49] Choc13 commented on #59
2.1.2 is published on [NuGet](https://www.nuget.org/packages/Winton.Extensions.Configuration.Consul/2.1.2) but might take a while to be indexed.

[2018-12-10 08:50] paschka76 opened #63 "Feature Request: Specify configuration root"
Hi,

we are overriding application settings from appsettings.json with Consul. It works perfectly if we configure a json in Consul, exactly as it looks like in appsettings.

appsettings.json:
<pre><code>
{
	"key1": "value1",
	"key2": "value2",
	<b>"endpoints": {
		"service_x": "_",
		"service_y": "_"
	}</b>
}
</code></pre>

consul:
`key`: appsettings/service1
`value`:
<pre><code>
{
	"key1": "value

[2018-12-10 10:43] Choc13 commented on #63
Hi @paschka76,

Just to check I have understood you correctly, you would like to factor out the `endpoints` config into it's own section in Consul so that it can be loaded by many applications? Is that correct?

In that case you have a few options I think.

1) Place the endpoints config under its own key in Consul. For example `appsettings/serviceEndpoints` which would contain the following json d

[2018-12-10 10:53] paschka76 commented on #63
Hi @Choc13 ,

thanks for the quick feedback!

Yes, you understood everything correct. I should have emphasized though that the end-goal is exactly not to load the entire Consul *subtree*. That is what I mean by *loading the endpoints separately*.

In the following case:
[code]
under `appsettings` I will have configurations for many microservices which I don't want to load. Endpoints is a simple ex

[2018-12-12 21:41] Choc13 commented on #63
OK. This seems to me like this is more of a question of how you should store your config in Consul than any limitation of this library. Would it not be possible for you to instead group your config values by microservice? Perhaps something like:

[code]

That way you could target config on a per microservice basis, rather than trying to load on specific endpoints and specific foos for a subset of

[2018-12-14 08:16] paschka76 commented on #63
Such a Consul structure is exactly what we want to improve.

For example, in the following case, we will have to go through each microservice config in order to change *https://endpoint_x* to *https://endpoint_y* (provided _microservice_x_, _microservice_y_ and _microservice_z_ are different keys in Consul):
[code]

I understand that you want to avoid making the options more complex, as long as it

[2018-12-17 20:57] Choc13 commented on #63
So I've been giving this some thought, and you are correct that there is a limitation in that it is not possible to load a single simple value from directly under the root key. However, I did not imagine anyone needing such functionality and I still think it is a rare case that can always be avoided by adding an additional key into Consul under the root key. I would have thought that, for those pe

[2018-12-30 15:02] Choc13 commented on #63
Thanks for the clarifications and apologies for the slow reply, with it being Christmas I have been busy with other things.

I think your servicebus example is compelling and highlights a reasonable need for the feature you are requesting. I will attempt an implementation and see how it fits in and then decide whether or not this is something that can be accommodated.

On a side note though it sou

[2019-01-09 22:32] Choc13 commented on #63
@paschka76 I've just opened a PR for this. If you have time take a look and let me know if this addresses your needs.

[2019-01-11 08:51] paschka76 commented on #63
Thank you very much for your reply and for such a quick implementation of a solution!
Good point regarding service discovery. It will improve the way we configure microservice endpoints. But we will still have the same *situation* for another configurations like this.
Also great point regarding background threads. We will have to be extra careful with this.

So, having your 2 points in mind, we wi

[2019-01-11 16:22] Choc13 commented on #63
No problem. Version 2.2.0 has just been built and should be available on [NuGet](https://www.nuget.org/packages/Winton.Extensions.Configuration.Consul) once it has been indexed.

[2019-01-11 16:22] #63 closed

[2019-04-02 11:42] barbarosalp opened #70 "PollForChanges should delay checking if consul is not available"
When Consul is not available `OnWatchException` is triggered constantly. Because there is no delay being applied in the catch.

[code]
This is the exception being thrown:
[code]

[2019-04-05 07:20] Choc13 commented on #70
Hi @barbarosalp,

Thanks for opening this. It certainly seems like something that we should improve. I'll take a look at your PR now.

[2019-04-05 14:27] #70 closed

[2019-04-28 02:35] hiwjcn opened #73 "will this package cache kv in client side in case consul server is unavailable for a while?"
will this package cache kv in client side in case consul server is unavailable for a while?

[2019-04-29 15:56] Choc13 commented on #73
Hi @hiwjcn,

This package is a bridge between Consul's KV store and ASP.NET Core's configuration system. So once the configuration has been loaded, at application startup, then it will be in memory for the rest of the program in the ASP.NET Core configuration system. So yes, in effect it is cached, but not by this library directly. If the initial load fails then you can customise the behaviour of

[2019-04-30 06:01] hiwjcn commented on #73
thanks, that solves my problem

[2019-04-30 06:01] #73 closed

[2019-09-12 15:54] Nehmiabm opened #76 "Cannot use library for .NET Framework v4.5.2"
Hello,

I really like the library but the latest version is basically not usable for projects targeting .NET Framework v4.5.2. How can I adopt it to use v4.5.2? It's not an option for me to upgrade the target right now.

Thank you

[2019-09-12 21:55] #76 closed, assigned to Choc13

[2019-09-22 22:44] HaroonSaid opened #77 "Question: Why are ConsulConfigurationClient internal"
I am trying to implement a version for K/V retrieval for NET Framework 4.7.1 using ```KeyValueConfigBuilder``` (Microsoft.Configuration.ConfigurationBuilders) in order to migrate legacy .NET Frameworks to Consul.

Why is ConsulConfigurationClient an internal class?

[2019-09-23 08:47] Choc13 commented on #77
Hi @HaroonSaid,

`ConsulConfigurationClient` is an `internal` class because it's an implementation detail and not part of the public API of this library. It's purpose is to provide an adapter on top of the `IConsulClient` to provide an interface that better matches what the `ConsulConfigurationProvider` requires. In particular it adds the `IChangeToken Watch(...)` method which makes it possible to

[2019-10-02 09:40] Choc13 commented on #77
Given there have been no further questions on this thread I am going to close it. If you still need assistance please feel free to re-open it.

[2019-10-02 09:40] #77 closed

[2019-10-09 09:36] bdelsaz opened #79 "[QUESTION] Configuration not picking up changes when adding a new key"
We are using consul configuration on services on a kubernetes cluster. We have noticed that when we add a new key-value, the consul configuration extension does not pick up the changes. The configuration remains unaware of the new key.

This is how we use the consul configuration extension:

[code]

Then we inject the configuration using ```IOptionsMonitor<>``` and DI.
Is this by design? Any point

[2019-10-09 12:33] Choc13 commented on #79
Hi @bdelsaz,

It sounds like what you want to achieve is possible and the setup you have shown and described sounds correct. Let's see if we can figure out what's going on?

Firstly, is the key that you're adding under the root key that you're loading from Consul?

[2019-10-09 13:29] bdelsaz commented on #79
@Choc13 thanks for your answer. I am adding keypath "AR" with all the subfolders (in red), where Production/demo is the root key, which I set in AddConsul above.

![image](https://user-images.githubusercontent.com/46991222/66485486-31f4a500-eaa9-11e9-838c-fded378ca597.png)

I have tried to add the keys:
- From the consul/ui endpoint
- Using consul's REST API

Could it be that I add my configuratio

[2019-10-09 13:33] Choc13 commented on #79
Your set up looks correct wrt the section you are binding to `ServiceConfiguration` and I'm assuming that the initial config is coming through at startup so that would be further proof you have this correct.

Could you tell me whether it detects changes to the values of existing keys? For example, if you modify `demoConfig->YPE->TM->key1`?

[2019-10-09 13:49] bdelsaz commented on #79
Yes, if I change the key it will pick up the changes.

[2019-10-09 14:07] Choc13 commented on #79
OK that's interesting, let's see if we can reproduce the issue. This repo contains a sample project so we can see if we can simulate it with that, it runs Consul in a docker container so is quite easy to get going with.
I might not get time for a little while (couple of days), but if you're able to repro the issue then please go ahead and let me know what you find.

[2019-10-09 15:31] bdelsaz commented on #79
I assume you refer to the project under test\Website. I'll have a look at this project.

[2019-10-09 16:42] Choc13 commented on #79
That's the one.

[2019-10-10 08:06] bdelsaz commented on #79
Test project was not working for me; swagger was not displaying on home URI.
I have created a PR suggsesting some changes
https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/pull/80

[2019-10-10 08:12] bdelsaz commented on #79
Yes. Now I'm setting up a test with changing configuration to reproduce my problem.
This is my first merged PR in an open source project wohoo! 🎉

[2019-10-10 11:48] bdelsaz commented on #79
The test project picks up the changes as expected. After carefully retesting against local consul docker container, it seems the problem was on my test setup😅
Thank you for the support, I am glad this exercise has helped me know Consul clients and your extension better.
For completeness I have updated my PR changing the launchsettings of the Website project, 'swagger' initial path on IIS profile w

[2019-10-10 11:48] #79 closed

[2019-10-10 12:39] Choc13 commented on #79
😌 Phew! Glad you figured it out 👍

[2019-10-15 10:39] Choc13 opened #82 "Ensure we deal with Consul index resets"
According to the [implementation details](https://www.consul.io/api/features/blocking.html#implementation-details) in the Consul documentation on blocking queries, there are circumstances under which the index can be non-monotonically increasing. We should handle this in the `ConsulConfigurationClient` by resetting the `_lastIndex` if the new one we receive is less than current one.

[2019-11-25 17:27] Choc13 commented on #82
See #78

[2019-11-25 18:15] Choc13 opened #83 "Remove dependency on NewtonSoft.Json"
Instead of writing a JSON parser here, we can make use of the one provided by Microsoft in their JSON configuration library. This does mean taking an explicit dep on the JSON implementation of the config abstractions, but it also means we can get rid of our explicit dep on NewtonSoft.JSON and also remove some reasonably complex code.

[2019-11-25 18:16] Choc13 opened #84 "Update to C# 8"
There are some nice features in C# 8 which will make the code terser.

[2019-11-26 21:35] Choc13 opened #85 "consuldotnet no longer seems to be actively maintained"
[consuldotnet](https://github.com/PlayFab/consuldotnet) is now archived and doesn't seem to have been updated recently. Given it is a wrapper around Consul's REST API it should be possible to remove our dependency on it and call the REST API directly. Also, we only need to query a single endpoint in this lib, so the implementation using something like Flurl shouldn't be too difficult.

[2019-11-29 14:39] #82 closed

[2019-11-29 14:41] #83 closed

[2019-12-02 11:45] #84 closed

[2019-12-03 21:37] gitfool opened #89 "Update dependencies for .NET Core 3.1 LTS"
https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.0/3.1.0.md

[2019-12-04 13:56] xyz0822 opened #90 "Bad Request - Invalid Hostname"
Environment:AspNetCore3.1
Visual Studio Version:16.4.0

On AspNetCore3.0 or AspNetCore3.1 when debugging,I got an "Bad Request - Invalid Hostname" when i put Consul config in program.class.
[code]

[2019-12-04 20:43] Choc13 commented on #90
Hi @xyz0822,

This sounds like it's just a case of the hostname you've configured for Consul not resolving. Can you confirm that http://192.168.2.100:8500 is the correct address by trying to visit it in the browser?

As a side note, settings `options.OnLoadException = ex => { throw ex.Exception; };` should be the default behaviour. So you should be able to omit that bit of setup.

[2019-12-04 20:45] Choc13 commented on #89
Are you just referring to the deps in the test projects etc? In general I try and keep this lib on the lowest possible TFM and version of it's deps for a given major version to increase compatibility with applications.

[2019-12-05 00:48] gitfool commented on #89
@Choc13 No,` Microsoft.Extensions.*` bumps to `3.1.0`. IIRC you were keeping those in line with latest.

[2019-12-05 12:28] xyz0822 commented on #90
Yes，that ip was  is correct. and when i comment the the follow line :
config.AddConsul("appsettings.json", options =>
               {
                   options.ConsulConfigurationOptions = _ =>
                   {
                       _.Address = new Uri("http://192.168.2.100:8500");
                       _.Datacenter = "dc1";
                   };
                   options.ReloadOnChange =

[2019-12-05 15:09] Choc13 commented on #89
Ah, my intention is to keep them inline with the latest majors. If applications upgrade their `Microsoft.Extensions.*` deps then they will pick up latest and this lib should still be compatible as it works against 3.0. But in general we want applications to chose when they adopt the latest version of those things, which they will do when they upgrade to ASP.NET Core 3.1. I would only perform minor

[2019-12-05 15:10] #89 closed

[2019-12-05 15:59] Choc13 commented on #90
I've been able to reproduce your issue by starting up the example application in this repo and configuring the Consul address to an invalid hostname, such as `http://foo.bar.baz.net:8500`, but when I put in a valid address it starts up fine.

The issue here seems to be that your application is unable to find the Consul host you can configured for some reason. I don't think it's an issue with this

[2019-12-08 21:51] Choc13 commented on #90
Closing this as it does not appear to be a problem with this library.

[2019-12-08 21:51] #90 closed

[2019-12-17 01:34] gitfool opened #91 "Ugly TaskCanceledException when gracefully shutting down container"
I'm wiring up consul configuration using:
[code]
Then interactively running a dotnet core 3.1 container and shutting it down via ctrl+c:
[code]
`TaskCanceledException` thrown from [ConsulConfigurationProvider.Dispose](https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/blob/master/src/Winton.Extensions.Configuration.Consul/ConsulConfigurationProvider.cs#L48).

Perhaps the cancella

[2019-12-20 10:21] Choc13 commented on #91
Thanks for raising this. I wonder if there is a more graceful way to shut this down without completely suppressing all error messages? I'll take a look into it.

[2020-01-09 10:22] Choc13 opened #92 "Consider adding support for Options pattern"
It would be convenient to have an options pattern style overload of `AddConsul` that made it straightforward to configure the consul settings from a local config file.

[2020-01-09 10:23] Choc13 commented on #92
Possibly also an overload that just takes `Key` and `Address`

[2020-01-22 20:21] jamarino commented on #91
I ran into the same issue today while updating NuGet packages in a project.

I've submitted a pull request that suppresses the `TaskCanceledException` where it is thrown in the PollingLoop by adding `.ContinueWith()`:
[code]
This should not affect any other error handling.

[2020-01-24 19:33] ckarcz commented on #92
Iagree, i was just looking for a way to do that, but it seems the services that depend on the options don't use the IOptions<T> API. hard coding the URI is a big NO for me. maybe i will try to look into creating a PR for it this weekend. It should be trivial to implement.

[2020-01-30 15:59] #91 closed

[2020-01-30 15:59] Choc13 commented on #91
This has been fixed in 3.0.1.

[2020-01-30 17:25] gitfool commented on #91
@Choc13 should this be available in NuGet by now, or is that a separate release process?

[2020-01-30 17:26] Choc13 commented on #91
There seems to be an issue with the NuGet API key that I’ve not had time to figure out yet. I’ll try and get it fixed this evening.

[2020-01-31 10:40] Choc13 commented on #91
Fixed the key and 3.0.1 is now published.

[2020-02-07 21:11] davidalpert commented on #92
I'm curious what the goal is here.

The new patterns in `Microsoft.Extensions.Configuration` allow configuring several configuration providers such that you can already load settings from a local config file:

[code]

[2020-02-07 22:07] ckarcz commented on #92
the goal was for the consul config provider to read it's own config from the other config providers (i.e. json file). but now that i think about it, it may not be possible. i don't think the configuration providers themselves are able to get configs as it's a chicken and egg problem. unless they can from providers added to the configuration builder before them.

[2020-02-10 10:02] Choc13 commented on #92
@davidalpert as @ckarcz said my original goal was just to be able to pass an `Action<IConsulConfigurationSource>` delegate to the `AddConsul` method in the same way that a lot of services do. But as he also pointed out there is a bootstrapping problem, given that this is also a configuration provider and so probably can't `IOptions` via DI. I wrote this down a more of a reminder to myself when I h

[2020-02-10 14:39] davidalpert commented on #92
We ran into this problem internally as well, wanting to use our cascading configuration providers (without the consul provider) to configure the consul configuration provider.

We originally solved that by creating two bootstrap methods. the first would bootstrap our config providers in sequence without the consul provider. then we would read the consul config options. then we would bootstrap our

[2020-02-10 15:21] ckarcz commented on #92
that’s a nice clean way to do it (inside configure app). thanks for the tip!

[2020-02-10 17:45] davidalpert opened #97 "New configuration values not available on reload when additional configuration providers are used"
I am chasing a problem in my .NET Core 3.1 app using version `3.0.1` of this `Winton.Extensions.Configuration.Consul` library where I can properly register a reload handler to my `IConfiguration` and access the updated configuration values in the handler when I build app configuration like this:
[code]
and subscribe to change notifications like this:
[code]
where `configuration` is the `IConfigura

[2020-02-10 21:34] Choc13 commented on #97
My best guess here is that this is because when you add those additional config providers they are being added after Consul and so their values take precedence. That is intended behaviour as per the spec for Microsoft.Extensions.Configuration. That would seem to explain why you see the reload event being triggered but the values are not being updated.

Are setting those values in both Consul and t

[2020-02-11 01:53] davidalpert commented on #97
that's my best guess too, which is why I was hoping to recreate the scenario in a unit test using the `IConfiguration` interface to access values set up in this scenario.

from what I could tell I didn't have the same value set in either place, but I will look again in case I missed something,

[2020-02-12 08:53] Choc13 commented on #97
Having glanced at the test in the diff you linked to above they look to be OK. What issues were you facing when running them?

[2020-02-12 09:03] Choc13 commented on #97
Actually, having just tried to run one myself I see an issue. Because it calls:

[code]

This invokes `_source.Build` which internally create a real `ConsulConfigurationProvider` with a real `ConsulClientFactory` and so tries to make actual network requests. If you want to test multiple configuration providers working together then I think you'd need to write an integration test instead. There are

[2020-02-12 09:31] Choc13 commented on #97
I have been able to recreate this behaviour using the test website project, but AFAICT it is working as expected. I had the following configuration setup in `Program.cs`:

[code]

I initially had config item `Foo` with a value `"bar"` in Consul and I could access this through the `IConfiguration` interface as expected. I then updated the value and saw that the callback I had registered on the relo

[2020-02-13 18:36] ckarcz commented on #92
here is a simple sample that uses the default host builder config sources (json files, env variables, and cli args) to configure the configuration builder at the configure application config step (i.e. after host is configured):

[code]

you can also do something similar in the ConfigureHostConfiguration(xxx) method if you need want/need to configure the host settings via consul. note that i am pr

[2020-02-14 02:32] davidalpert commented on #97
appreciate the effort, and the pointers with the tests. they behaviour you described matches my understanding and expectations too. will have to keep looking at the configs and env on my end as there must be something I'm missing on my side.

[2020-02-14 02:32] #97 closed

[2020-04-29 13:51] TheDouye opened #100 "WintonExtensions and Polly retry policies"
Hi.
Not sure this is the right place to post so do not hesitate to tell me.
I would like to use a retry policy (for instance with Polly) whenever a request fails. But I'm not sure the current API allows me to do this. Or I don't know how to do it :).
So what is the best way to achieve this ?
I am able to do it in the `OnLoadException `callback by forcing `context.Source.Build(configurationBuilder)

[2020-05-06 10:36] Choc13 commented on #100
@TheDouye thanks for opening this. I've been a bit busy with other things recently, but I'll try and get back to you with a proper answer shortly. One thing that jumped to mind was that you can access the underlying `HttpClient` through the `ConsulHttpClientOptions` property when configuring the Consul config source. From the limited knowledge I have about Polly I thought that it might be possible

[2020-05-21 19:43] erikasoncin opened #101 "Option.Parser customize our keys"
Hi,

We are using an application .NET CORE 2.2 that should also be implemented in 3.2.
Now the Parsers expects to manipulate KV, we would expect that also in this class _KVPairExtensions.cs_ line of code 19
`using Stream stream = new MemoryStream(kvPair.Value);`
in the stream both key and value would be injected because in our case we need to remove the underscores in our keys, then both can be us

[2020-06-07 20:59] davidalpert commented on #101
@Choc13 We have a similar use case, in that we would like the ability to rewrite some of the values, based on the full key, so we would also need the `key` part injected, but the fully qualified consul key.

I think both our concerns could be handled by updating the signature of `IConfigurationParser.Parse(...)` to take in a key argument?

[code]

I have a branch locally where I have this working

[2020-06-07 22:10] davidalpert commented on #85
would you be looking to implement this as a breaking change, reworking the [current configuration options interface](https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/blob/aceae35c2d4258ec303775398d6da13d8d93e9dc/src/Winton.Extensions.Configuration.Consul/ConsulConfigurationSource.cs#L27-L31)?

or looking to build enough internal classes to mirror the `consuldotnet` interface su

[2020-06-08 02:50] davidalpert commented on #85
after a bit of experimentation, I don't see how this can be a non-breaking change, since the `consuldotnet` `ConsulClientConfiguration` class is exposed directly on the `ConsulConfigurationSource`.

[2020-06-08 21:54] Choc13 commented on #85
@davidalpert I believe you are correct. This would break the `ConsulConfigurationSource` interface as you mentioned. I hadn't put a lot of thought in this yet as I was going to leave it until the next major change, which I usually do alongside a major ASP.NET Core release, so that the versions of this library match those of the ASP.NET Core major version.

My thoughts about the implementation when

[2020-06-08 21:55] #92 closed

[2020-06-08 21:56] Choc13 commented on #92
I think this doesn't quite work as I first thought it would and the comments here provide suitable workarounds for the bootstrapping problem.

[2020-06-09 08:08] Choc13 commented on #101
@davidalpert thanks for the investigation into this one. Do you think we could have our cake and eat it by using C#8's default interface implementation feature? This code in here is using C#8 already, but not sure whether this would mean clients also need to be using C#8 or above to utilise the default implementation in their code? What do you think?

@erikasoncin do changes proposed by @davidalpe

[2020-06-09 21:34] kewinbrand commented on #85
hey @Choc13

i found a promising new fork from PlayFab/consuldotnet. it is https://github.com/G-Research/consuldotnet. they also already publised a new version in nuget.
what do you think?

thank you

[2020-06-09 21:37] Choc13 commented on #85
@kewinbrand Thanks for that. I actually came across myself today funnily enough. I’ll review it and have a think. Partly I think the removal of a dependency is worth considering if we only need a small part of it which is just a thin wrapper around a REST api. However in the first instance I’ll probably move over to their version as it should be easy and will ensure things can remain up to date in

[2020-06-11 13:27] Choc13 commented on #101
Having thought about this some more, it seems like there might be an alternative approach here, but I'd need to understand both of your requirements a little bit more first.

Could you tell me whether you want to use the full consul key to modify the values that are parsed, or do you, more simply, just want to have control over how the consul keys are turned into configuration keys?

If it's the l

[2020-06-11 17:52] davidalpert commented on #101
in my use case we have a need to preview each consul key/value as a pair, as we store some specific token values in our Consul values and want to replace those tokens with lookups into external systems (using the full consul key as a lookup key) before handing them to the application.

[2020-06-11 21:32] Choc13 commented on #101
@davidalpert that's interesting, thanks for the details on your use case. I see now that you really need the interface that gives you access to the whole consul KVPair. Would it be fair to say that you basically want to be able to write your own definition of [`KVPairExtensions.ConvertToConfig`](https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/blob/master/src/Winton.Extensions.

[2020-06-12 14:55] davidalpert commented on #101
Thank you for the discussion.  I believe that you have captured my use case correctly, and that this would handle @erikasoncin's use case also.

So long as I can intercept and optionally rewrite the fully qualified key and value before they get set on the `Data` dictionary for exposure to the app I'm happy.

I have no strong feelings for interfaces vs `Func` in this case; while DI might be useful

[2020-06-12 15:38] Choc13 commented on #101
Great!

I think what keeps going around in my mind is that to offer the most flexibility we want to give people the ability to write a `Func<KVPair, IEnumerable<KeyValuePair<string, string>>>` so that they get access to the unmodified `KVPair` from Consul, but for most people it's sufficient to just give them control over how the values are parsed. So in the first case you have the raw consul key,

[2020-06-12 23:32] davidalpert commented on #101
I don't see handling keys and values as two separate concerns, myself.

My idea with the `IDictionary<string, string> Parse(string baseKey, Stream valueStream) => Parse(valueStream);` implementation was that this would default to the existing behaviour of parsing a value independent of the key unless you wanted to intercept it and "parse" the key also.  In other words you could choose to interpret

[2020-06-13 20:26] davidalpert commented on #101
Ah, perhaps I see what you were getting at.

`Func<KVPair, IEnumerable<KeyValuePair<string,string>>` is effectively the signature of the static helper method `KVPairExtensions.ConvertToConfig` so if we were to:

1. Add a new property to `ConsulConfigurationSource` like this:
[code]
2. Set the default implementation (more or less) to `KVPairExtensions.ConvertToConfig`

That is another way to introd

[2020-06-13 20:41] Choc13 commented on #101
@davidalpert thats exactly it. Sorry, I think my message wasn’t very well articulated before, but you’ve got it now. I’ve been a bit busy recently so didn’t have time to write the code, which would have made the explanation clearer.

I think having the ability to parse the raw KVConfig is important because it’s give clients the most flexibility, because we haven’t yet tampered with the keys at all

[2020-06-13 23:04] davidalpert commented on #101
Here is another PR (https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/pull/103)  which exposes that `ConvertToConfig` property on `IConsulConfigurationSource`.

I am happy to contribute to this project; we have found it very useful and it is a pleasure to give back.

[2020-06-16 09:41] Choc13 commented on #101
[3.1.0](https://www.nuget.org/packages/Winton.Extensions.Configuration.Consul/3.1.0) has been published to NuGet which contains these changes. Thanks to @davidalpert for doing this work.

[2020-06-16 09:41] #101 closed

[2020-07-15 16:43] TechGeeky opened #109 "How to integrate Winton Consul library in my application?"
I recently started working with asp.net (like few days old) and working on integrating our application with `Consul` as my first project so I am confuse on few things. I am trying to integrate [Winton Consul](https://github.com/wintoncode/Winton.Extensions.Configuration.Consul) library in my project as I need to download all keys/values from KV store in Consul. Also keep a watch on all the keys an

[2020-07-15 20:24] TechGeeky commented on #109
@Choc13 can you help me with this?

[2020-07-15 20:24] TechGeeky commented on #109
@Choc13 can you help me with this?

[2020-07-16 08:26] Choc13 commented on #109
Hi @TechGeeky,

This library provides an extension method on `IConfigurationBuilder`, just like all the other configuration sources do. So anywhere you can write `AddJson` or `AddEnvironmentVariables` you can also write `AddConsul` to register that as a source of configuration too. In your specific case you want to add it like so:

[code]

Note you're free to add other config sources as you wish,

[2020-07-16 14:01] TechGeeky commented on #109
Hi @Choc13 ,
Thanks for your response. `KestrelBooter` is just like `Startup.cs` if I am not wrong after reading out more on asp.net core fundamentals. So can I not add it in `StartWebApiServer` method? or does it needs to be added in `KestrelBooter` constructor only? Just making sure. Something like below in`KestrelWebApiServer` class? And I do need other config sources as already there along wit

[2020-07-21 15:46] TechGeeky commented on #109
@Choc13 any thoughts?

[2020-07-23 14:29] Choc13 commented on #109
Hi, sorry been busy. I think it's difficult for me to give concrete advice here, because largely these are questions that depend on what you're trying to achieve with your application. On the first point about where you should register the Consul configuration source. What you have written looks technically correct, but usually I would opt to register all configuration sources in the same place du

[2020-07-25 18:07] TechGeeky commented on #109
Thanks @Choc13 for your comment. I got it now. Also one more question - let's say my application started up fine without any issues and I am using this Consul library to keep a watch on the nodes in Consul and after sometime my Consul server went down for a brief period of time and it came back online after sometime then my app which is talking to consul and has a watch on it will still work or it

[2020-07-31 08:52] Choc13 commented on #109
You won't need to restart you app if the Consul server becomes unavailable. If you are using the watch functionality then it will keep polling the Consul server until it becomes available again. By default the library will wait for 5 seconds between retries when there are failures polling the Consul server. If you want finer control over that then you can set the `OnWatchException` when setting up

[2020-07-31 08:52] #109 closed

[2020-08-12 21:33] TechGeeky opened #112 "Keep a watch on the key which doesn't have children?"
I have a node (with data) in Consul like below:

[code]

I don't have any other children of "process" node in Consul. I just have json data for that node and that's all.

Now I keep a watch on that same node from below code. My idea is to keep a watch on the same node and get the value of "process" node in the code and whenever it is updated again from outside I want my watch to be triggered as we

[2020-08-12 22:09] Choc13 commented on #112
Hi @TechGeeky,

From a quick glance at your code it looks like you've made a mistake with the `Parser` option you've chosen when calling `AddConsul`.

You've set the parser as a `SimpleConfigurationParser` when actually you're trying to parse a JSON node. If you remove this option it will default to `JsonConfigurationParser` and it should work fine.

Hope that helps.

[2020-08-12 23:29] TechGeeky commented on #112
Hi @Choc13

Thanks for your response. I removed that parser line and after that I don't see any error but when I try to get the value of "process" key I don't get any data now. This is the way I am getting value -

[code]

Earlier with old code I used to get value with same code and it worked fine.

[2020-09-12 07:47] jmezach opened #113 "Slashes in JSON keys mess up configuration system"
Let me start by giving some context. I've been developing an API gateway using [Ocelot](https://github.com/ThreeMammals/Ocelot) which has a buit-in mechanism for reading its configuration from Consul. Since that project seems to be abandoned we are evaluating switching over to [YARP](https://github.com/microsoft/reverse-proxy) which doesn't have Consul configuration built-in. But it does read conf

[2020-09-13 19:51] Choc13 commented on #113
Hi @jmezach,

Thanks for raising this. I've not done a full investigation, but I suspect this is a bug in the way config is parsed.

This line [`KvPairExtensions`](https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/blob/d1023c3fbc39e8331d2339e2b78084338af73908/src/Winton.Extensions.Configuration.Consul/Extensions/KVPairExtensions.cs#L26) seems likely to be causing the issue. I th

[2020-09-13 21:25] Choc13 commented on #113
@jmezach I can't seem to reference you directly on the PR, but would like your feedback on whether I've addressed the issue correctly.

The fix is [here](https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/pull/114/files#diff-ec6b0da314f7449611d4f209cc0c8946R25) and [this](https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/pull/114/files#diff-d08b1660480c0b316067

[2020-09-14 06:17] jmezach commented on #113
@Choc13 Looking at the changes I think this will work for my scenario. Is there a prerelease version I could give a try just to be sure? I can test it fairly quickly ;).

[2020-09-14 07:04] Choc13 commented on #113
Annoyingly it looks like I've only configured the build to publish from `master` and `release` branches, so that build hasn't been published.

I'll get it merged today given it's a simple change and all the tests are passing and then they'll be a pre-release you can try.

[2020-09-14 13:19] Choc13 commented on #113
@jmezach the pre-release [`3.1.0-rc0001`](https://www.nuget.org/packages/Winton.Extensions.Configuration.Consul/3.1.0-rc0001) is now published. Let me know once you've tested it out. If it's fine I'll release as `3.1.1`.

[2020-09-14 15:15] jmezach commented on #113
@Choc13 I can confirm that it works as expected with 3.1.0-rc0001

[2020-09-14 16:08] Choc13 commented on #113
Great! [`3.1.1`](https://www.nuget.org/packages/Winton.Extensions.Configuration.Consul/3.1.1) has been published now 🚀

[2020-09-14 16:08] #113 closed

[2020-10-11 03:15] TechGeeky opened #116 "How to extract json value from a key?"
Hi @Choc13
I have a very simple question where I am stuck so wanted to see if you can help me out.

I have a node (with data) in Consul like below:

[code]
As you can see above, my `key3` is a json object instead of a single string or boolean value.

When I use the below code:

[code]

And I try to extract each of those keys value like this:

    string key1 = configuration["key1"];
    string key

[2020-10-11 12:14] Choc13 commented on #116
Hi yes this is expected behaviour. It's actually to do with how the core Microsoft config library works, rather than this specific provider. If you try and access a key that is the parent of other keys, then it's value will be `null` because it doesn't really have a value.

In your particular case you'd need to write `configuration["key3:car1"]` to access a value directly. You can bind all the car

[2020-10-11 12:14] #116 closed

[2021-04-20 01:26] DR9885 opened #117 "Bug: Getting keys from wrong service with similar name"
Getting keys from wrong service with similar name... but wasn't expecting this.

### Example Consul Keys
[code]

### Example Service Setup
[code]

### Expected .NET IConfiguration Result
[code]

### Actual .NET IConfiguration Result
[code]

[2021-04-21 08:06] Choc13 commented on #117
Hi @DR9885 thanks for reporting this. Could you confirm for me that this is just pointing to a single Consul hostname? As in, you have set:

[code]

If that's the case then I'm wondering if this is something to do with how the Consul API resolves keys that are a partial match. It should be possible to test that quite quickly by running Consul, setting up the keys like you have and then seeing what

[2021-04-21 08:33] Choc13 commented on #117
So yeah the Consul API will return all keys that match the prefix, which makes sense because we want to get all keys under the root key specified. However, in your case that's obviously causing an issue because it's also pulling in the config from the service whose name has the same prefix. One "quick fix" for this is to add the trailing `/` to your root key when configuring Consul. I've tested th

[2021-05-12 23:15] DR9885 commented on #117
Fix works, thanks!

[2021-05-12 23:15] #117 closed

[2021-05-13 11:20] Choc13 commented on #117
Cool, glad it's worked.

Just going to add this here in case anyone wants to open a PR and make this improvement internally. If we wanted to make this behaviour more explicit then I think the way to do it would be to do something like this in `ConsulConfigurationProvider.GetKvPairs()`

[code]

Which would mean that when configuring this config provider someone could write:

[code]

That way the li

[2022-02-18 01:21] as1s opened #125 "How do I read single KV value and also keep existing appsettings.json"
I have a single key value that I want to read (consul) in alongside the appsettings.json file(not consul)
The value is a string representation of a boolean (true, false)
but when calling the injected _configuration["test-key"]  from within the controller I am not getting any result.
Can I please have some guidance of what is potentially happening? I don't see any exeptions in the logs.

[code]

[2022-03-03 15:24] GimmeDaKitty opened #126 "Old dependencies being flagged as vulnerabilities - new version?"
Hi,
first of all, thank you to all the contributors for this wonderful library.
Our vulnerability scans have flagged some vulnerabilities that can be traced to this package.
Is it planned to release a new version of this library? Otherwise we'll have to find alternatives.

[2022-03-03 15:29] GimmeDaKitty commented on #126
@Choc13 thanks for the quick reply :)
It's about consul 0.7.2.6 and its dependency on System.Net.Http 4.3.0 and WinHttpHandler.

The below is an extract of our dependency graph:
[code]

[2022-03-03 15:36] Choc13 commented on #126
Ah right OK. That is the one package I was hoping you weren't going to mention, but I guess it was always going to be the most likely culprit. There's been another issue open for a while #85 in which I wanted to remove/change this dep, but I never got around to doing the work.

I think that the consul dotnet lib was taken over by a different maintainer (it's [here](https://github.com/G-Research/co

[2022-03-03 16:00] GimmeDaKitty commented on #126
Thanks for the clarification, I appreciate it. Not sure what we will do in the meantime; I'll have a look at the source code and see whether I can contribute something.

[2022-03-03 17:17] Choc13 commented on #125
Hey, sorry for the slow reply. Are you still having this problem? Your setup looks OK at a first glance. Have you tried called [`GetDebugView`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.configurationrootextensions.getdebugview?view=dotnet-plat-ext-6.0) on the `IConfiguration`. That should give you a clearer picture of what has actually been loaded into your con

[2022-03-03 20:47] GimmeDaKitty commented on #126
So far updaetd the dependency, and removed the NET framework target and the conditional compilation (if this is just to remove 461 from the .csproj like so (bold part removed):
<TargetFrameworks>netstandard2.0;**net461**</TargetFrameworks>

Tests pass, no compilation warnings or errors on the IDE, and 'Website' project runs. However, I must be missing something because Website461 project does not

[2022-03-03 23:30] Choc13 commented on #126
Ah yes that does ring a bell. I believe I fixed this exact problem before in [#44](https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/pull/44).

That was the conditional compilation part that I was referring to before, where I referenced some other system libs for net461. It appears though that is now not present in the version on master so I'll see if I can figure out why/when i

[2022-03-04 09:17] GimmeDaKitty commented on #126
net461Website in master won't work and throws the same exception
[code]

I did see references to a build.sh script indeed but was nowhere to be found in the repository. Seeing #44  explains it.

I created this PR for reference in the discussions
https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/pull/127

[2022-03-04 09:20] Choc13 commented on #126
OK, thanks for checking master. I just did some digging and it looks like the conditional compilation for `net461` was erroneously removed in [this commit](https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/commit/9e24a715e4fce1279a4822217908afc0f9e6dcaf#diff-af73d90db700f6428f29c6202de2cc0bc74e890ee069f1a2f7f27c11648936ebL20).

I think I should have just removed `Newtonsoft.Json

[2022-03-07 09:57] GimmeDaKitty commented on #126
The new version with the change did remove the vulnerable dependency.
Thanks again for the support, closing issue

[2022-03-07 09:57] #126 closed

[2022-05-18 13:08] andrewvk opened #128 "Values are not reloaded when a key is deleted"
If the configuration key is deleted in Consul or even set to an empty string, the configuration is not reloaded, it still has the old value.
This behavior is explicitly specified in the code, and I can't figure out the reason for it.

[2022-05-22 16:21] andrewvk commented on #128
https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/blob/d9705de56f83572fc96d5e880ae24301da92cb18/src/Winton.Extensions.Configuration.Consul/ConsulConfigurationProvider.cs#L137
result.HasValue returns false if the key is deleted or contains an empty string.

[2022-05-24 18:11] andrewvk commented on #128
I think the best approach is to do it completely similar to standard providers, such as FileConfigurationProvider.
The code is like this:
[code]
That is, when reload, the behavior is always the same as the optional source, no matter what the original settings are.

[2022-05-25 09:50] andrewvk commented on #128
Made PR - https://github.com/wintoncode/Winton.Extensions.Configuration.Consul/pull/129